<!-- Search Box -->
<div class="searchBox mt-5 row">
    <div class="col-md-8 col-lg-8">
        <div class="input-group mb-3">
            <input class="form-control border-right-0" placeholder="Buscar" [(ngModel)]="expresion">
            <span class="input-group-append bg-white">
                <button class="btn border border-left-0" type="button" (click)="search()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-check form-switch my-2">
            <input class="form-check-input" type="checkbox" 
            id="flexSwitchCheckChecked" [(ngModel)]="srchByEtq" (change)="search()">
            <label class="form-check-label gray" for="flexSwitchCheckChecked">Coincidir solo en etiquetas</label>
        </div>
    </div>
</div>
